pip install flask python-telegram-bot==20.0a4 psutil
Flask
gunicorn
aiohttp
python-telegram-bot[webhooks]
honcho
email-validator
psutil
platformdirs
requests
uvicorn
fastapi
python-telegram-bot==20.3
pandas
openpyxl
xlrd
werkzeug
