aiogram
aiohttp
Flask
flask 
psutil
Flask
gunicorn
aiohttp
python-telegram-bot[webhooks]
honcho
email-validator
psutil
platformdirs
requests
uvicorn
fastapi
openpyxl
xlrd
werkzeug
psycopg2-binary
psycopg2
python-telegram-bot==20.6
pandas
openpyxl
psycopg2-binary
