flask 
psutil
Flask
gunicorn
aiohttp
python-telegram-bot[webhooks]
honcho
email-validator
psutil
platformdirs
requests
uvicorn
fastapi
python-telegram-bot==20.3
pandas
openpyxl
xlrd
werkzeug
Flask==2.2.5
requests==2.31.0
gunicorn==20.1.0
